venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.db
*.sqlite
*.sqlite3
.env
.venv
env/
ENV/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/