name: Test main status
on:
  push:
    branches:
      - main

jobs:
  check-build-status:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run Install
        run: yarn

      - name: Tests
        run: yarn test
